{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product1</title>
      <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>
<body>
   {% include 'navbar.html'%}
    <h1 class="product-header">کالباس مورتادلا</h1>
         <img src="{% static 'images/header_images/product-two.jpg'%}" class="product-image">
<div style="margin-top: 80px;margin-right: 70px;margin-bottom: 270px;">
         <P  class="text-one">
  کالباس مورتادلا پروتئین شاپ؛ طعمی اصیل، انرژی بی‌پایان. با هر برش از این کالباس، سفری خوشمزه به دنیای طعم‌های اصیل آغاز می‌کنید
</P>
<P class="text-two">
تهیه‌شده از گوشت تازه و باکیفیت، با ترکیب متعادل ادویه‌های خوش‌عطر، تا لحظه آخر طعم و تازگی را حس خواهید کرد
</P>
<P class="text-three">
پروتئین بالا، چربی کنترل‌شده و بافت نرم و دلنشین، این محصول را به انتخابی عالی برای صبحانه، میان‌وعده یا ساندویچ‌های سالم تبدیل کرده است
</P>
<P class="text-four">
 هر لقمه، هم لذیذ است و هم سرشار از انرژی برای ادامه روزتان؛ انتخابی که هم ذائقه شما را راضی می‌کند و هم به فکر سلامتی‌تان است
</P>
</div>
   {% include 'footer.html'%}
</body>
</html>