{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus page</title>
     <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
     {% include 'navbar.html'%}
     <h1 class="contact-header">ارتباط با شما افتخار ماست</h1>
     <div class="contact-items">
        <div class="number-container">
             <img src="{% static 'images/header_images/telephone.png'%}" class="telephone-image">
              <h2 class="telephone-header">تلفن</h2>
         <P class="">021-345678</P>
      </div>
       <div class="addres-container">
             <img src="{% static 'images/header_images/location.png'%}" class="address-image">
              <h2 class="address-header">آدرس</h2>
         <P class="">تهران، خیابان ولیعصر، بالاتر از میدان ونک، پلاک ۲۳۴، طبقه دوم، واحد ۵</P>
      </div>
      <!--contact-part-one-->
     </div>
      <!--contact-part-two-->
          <div class="contact-items-two">
        <div class="email-container">
             <img src="{% static 'images/header_images/mail.png'%}" class="telephone-image">
              <h2 class="telephone-header">ایمیل</h2>
      </div>
       <P class="email-text">proteinshop13@gmail.com</P>
       <div class="day-container">
             <img src="{% static 'images/header_images/working-hours.png'%}" class="clock-image">
              <h2 class="day-header">ساعات کاری</h2>
         <P class="">از شنبه تا پنجشنبه 9 صبح تا 8 شب</P>
      </div>
      <!--contact-part-two-->
     </div>
     <!--contact-form-->
    
<form class="form">
    
    <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span class="label-icon-one">نام</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span class="label-icon-two">نام خانوادگی
            </span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span class="label-icon-three">ایمیل</span>
    </label> 
        
    <label>
        <input required="" type="tel" placeholder="" class="input">
        <span class="label-icon-four">شماره تماس</span>
    </label>
    <label>
        <textarea required="" rows="3" placeholder="" class="input01"></textarea>
        <span class="label-icon-five">پیام</span>
    </label>
    
    <button class="fancy" href="#">
      <span class="top-key"></span>
      <span class="text">ثبت</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </button>
</form>
   {% include 'footer.html'%}
</body>
</html>