{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
     <body>
        <div class="footer-container">
    <ul class="nav-one">
        <h2 class="header-footer">ارتباط با مشتری</h2>
        <li class="nav-item-one">ارتباط با ما</li>
        <li class="nav-item-two">درباره شرکت</li>
        <li class="nav-item-three">خبرنامه</li>
        <li class="nav-item-four">حساب کاربری</li>
    </ul>
    <!--menue number two-->
        <ul class="nav-two">
        <h2 class="header-footer">مدیریت پروتئین شاپ</h2>
        <li class="nav-item-first">تیم فنی</li>
        <li class="nav-item-second">جدیدترین محصولات</li>
        <li class="nav-item-third">پشتیبانی</li>
        <li class="nav-item-fourth">داستان پروتئین شاپ</li>
    </ul>
    </div>
</body>
</html>