{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!--navbar-->
    {% include 'navbar.html'%}
<!-- Slideshow container -->
<div class="slideshow-container">
<!--import js-->
<script src="{% static 'javascript/home.js' %}"></script>
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'images/header_images/susages-photo.jpg'%}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'images/header_images/calbas-photo.jpg'%}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'images/header_images/susages and calbas-photo.jpg'%}" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
<!--about brand-->



<div class="below-images">
<img src="{% static 'images/header_images/entry-room.jpg'%}" class="entry-room">
<h2 class="about-brand">
    پروتئین شاپ
</h2>
<p class="about-brand-text">
    در پروتئین شاپ، ما می‌دانیم که هر لقمه‌ سوسیس و کالباس باید ترکیبی از طعم دلپذیر و ارزش غذایی بالا باشد
</p>
<p class="about-brand-text-second">
    محصولات ما با دقت و وسواس بالا، از بهترین مواد اولیه تهیه می‌شوند تا انرژی و پروتئین مورد نیاز روزانه شما را تأمین کنند
</p>
<p class="about-brand-text-third">
     با پروتئین شاپ، نه فقط یک خوراکی خوشمزه، بلکه یک سبک زندگی سالم و پویا را تجربه کنید و از زندگی لذت ببرید
</p>
<p class="about-brand-text-forth">
     پروتئین شاپ انتخابی هوشمندانه برای دوستداران طعم اصیل و تغذیه سالم است که هر بار رضایت و انرژی را به همراه دارد
</p>
<p class="about-brand-text-fifth">
پروتئین شاپ با تمرکز  بر کیفیت بالا، تجربه‌ای خوشمزه و سالم را در هر بسته به شما ارائه می‌دهد تا زندگی‌ای پرانرژی و متعادل داشته باشید
</p>
</div>
<!--products-->
<div>
<h2 class="products">محصولات</h2>
<img src="{% static 'images/header_images/product.jpg'%}" class="product-one">
</div>
</body>
</html>