{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!--navbar-->
    {% include 'navbar.html'%}
<!-- Slideshow container -->
<div class="slideshow-container">
<!--import js-->
<script src="{% static 'javascript/home.js' %}"></script>
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'images/header_images/susages-photo.jpg'%}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'images/header_images/calbas-photo.jpg'%}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'images/header_images/susages and calbas-photo.jpg'%}" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>



<!--products-->
<div class="product-container">
  <h2 class="products">محصولات</h2>
<div class="card">
  <div class="image_container">
    <img src="{% static 'images/header_images/product-one-new.jpg'%}" style="width: 100%;height: 100%;">
      <path
        d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
      ></path>
    </svg>
  </div>
  <div class="title">
    <span>دودی‌لقمه</span>
  </div>
  <button class="cart-button">
    <span>اطلاعات بیشتر</span>
  </button>
</div>
<!--product two-->
<div class="card-two">
  <div class="image_container">
    <img src="{% static 'images/header_images/product-two.jpg'%}" style="width: 100%;height: 100%;">
      <path
        d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
      ></path>
    </svg>
  </div>
  <div class="title">
    <span>کالباس مورتادلا</span>
  </div>
  <button class="cart-button">
    <span>اطلاعات بیشتر</span>
  </button>
</div>
<!--product three-->
<div class="card-three">
  <div class="image_container">
    <img src="{% static 'images/header_images/product-three.jpg'%}" style="width: 100%;height: 100%;">
      <path
        d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
      ></path>
    </svg>
  </div>
  <div class="title">
    <span>هات داگ</span>
  </div>
  <button class="cart-button">
    <span>اطلاعات بیشتر</span>
  </button>
</div>
<!--product four-->
<div class="card-four">
  <div class="image_container">
    <img src="{% static 'images/header_images/product-four.jpg'%}" style="width: 100%;height: 100%;">
      <path
        d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
      ></path>
    </svg>
  </div>
  <div class="title">
    <span>سالامی</span>
  </div>
  <button class="cart-button">
    <span>اطلاعات بیشتر</span>
  </button>
</div>
<!--about brand-->
<div class="about">
  <div class="details">
    <div class="cardHeader">درباره پروتئین شاپ</div>
    <div class="cardText">
در پروتئین شاپ، هر لقمه داستانی از عشق به طعم و کیفیت است.
ما از بهترین گوشت‌ها و ادویه‌های طبیعی استفاده می‌کنیم تا محصولی بسازیم که هم سالم باشد و هم فراموش‌نشدنی.
از سوسیس دودی تا کالباس مورتادلا و سالامی خشک، هر محصول با دقت و وسواس تهیه می‌شود.
طعم‌های ما نتیجه ترکیب هنر آشپزی سنتی و فناوری روز دنیاست.
ما باور داریم که غذای خوب، حال خوب می‌آورد و همین انگیزه‌ای است که هر روز ما را به بهتر شدن سوق می‌دهد.
در پروتئین شاپ، کیفیت یک شعار نیست، یک تعهد است؛ تعهدی که در هر برش، هر بسته‌بندی و هر طعم دیده می‌شود
    </div>
    
  </div>
</div>
<!--news-->
<!-- --> 
 <div class="all-news">
<div class="tooltip-container">
  <span class="text">اخبار</span>
  <span class="tooltip">پروتئین شاپ</span>
</div>
<!--news-one-->
<!--  --> 
 <div class="news-icons-container">
<div class="news">
 <div class="image">
      <img src="{% static 'images/header_images/news-photo-one.jpg'%}" style="width: 100%;height: 100%;">
 </div>
  <div class="content">
    <a href="#">
      <span class="newstitle">
      پروتئین شاپ خط تولید جدید سوسیس دودی پریمیوم را افتتاح کرد
      </span>
    </a>

    <p class="desc">
     پروتئین شاپ با بهره‌گیری از تجهیزات مدرن و مواد اولیه باکیفیت، خط تولید تازه‌ای برای سوسیس دودی راه‌اندازی کرده است.
این محصول با طعم غنی و بافت لطیف، تجربه‌ای متفاوت برای دوستداران غذاهای پروتئینی رقم می‌زند
    </p>

    <a class="action" href="#">
    ادامه مطلب
      <span aria-hidden="true">
        →
      </span>
    </a>
  </div>
</div>
</div>
<!--news-two-->
 <div class="news-icons-container">
<div class="news">
 <div class="image">
      <img src="{% static 'images/header_images/news-photo-two.jpg'%}" style="width: 100%;height: 100%;">
 </div>
  <div class="content">
    <a href="#">
      <span class="newstitle-two">
     عرضه ویژه کالباس مورتادلا با طعم کلاسیک در پروتئین شاپ
      </span>
    </a>

    <p class="desc">
     پروتئین شاپ مورتادلاهایی را عرضه کرده که با دستورالعمل اصیل و ادویه‌های طبیعی تهیه شده‌اند.
این محصول برای علاقه‌مندان به طعم‌های سنتی و اصیل انتخابی بی‌نظیر است.
عرضه ویژه تا پایان ماه با بسته‌بندی جدید و قیمت رقابتی ادامه خواهد داشت
    </p>

    <a class="action" href="#">
    ادامه مطلب
      <span aria-hidden="true">
        →
      </span>
    </a>
  </div>
</div>
</div>
<!--news-three-->
 <div class="news-icons-container">
<div class="news">
 <div class="image">
      <img src="{% static 'images/header_images/news-photo-three.jpg'%}" style="width: 100%;height: 100%;">
 </div>
  <div class="content">
    <a href="#">
      <span class="newstitle-three">
   سالامی خشک بلوطی؛ محصول لوکس پروتئین شاپ وارد بازار شد
      </span>
    </a>

    <p class="desc">
   این سالامی با فرایند خشک‌شدن طبیعی و دوددهی با چوب بلوط، طعمی خاص و ماندگار دارد.
پروتئین شاپ این محصول را برای مشتریانی عرضه کرده که به دنبال تجربه‌ای متفاوت و باکیفیت هستند.
موجودی محدود این محصول باعث شده استقبال بالایی در روزهای نخست عرضه شکل بگیرد
    </p>

    <a class="action" href="#">
    ادامه مطلب
      <span aria-hidden="true">
        →
      </span>
    </a>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>