{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="social-icons">
                <a href="#"><img alt="instagram-logo" src="{% static 'images/header_images/instagram-logo.png'%}" class="header-icons"/></a>
                <a href="#"><img alt="whatsup-logo" src="{% static 'images/header_images/whatsapp.png'%}" class="header-icons"/></a>
                <a href="#"><img alt="telegram-logo" src="{% static 'images/header_images/telegram.png'%}" class="header-icons"/></a>
            </div>
            
            <div class="logo">
                <img alt="website-logo" src="{% static 'images/header_images/logo brand.png'%}" class="header-icons-website-logo"/>
            </div>
            
            <div class="user-account">
                <a href="account/login"><img alt="user-account" src="{% static 'images/header_images/profile.png'%}" class="header-icons-account"/></a>
            </div>
        </div>
        
        <nav class="main-nav">
            <ul class="menu-container">
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/shop/products">محصولات</a></li>
                <li><a href="/news">اخبار</a></li>
                <li><a href="/core/contactus">ارتباط با ما</a></li>
                <li><a href="/core/aboutus">معرفی شرکت</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>