{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
     <body>
        <div>
         
        <ul>
       <li>
        <img alt="user-account" src="{% static 'images/header_images/user.png'%}" />
       </li>
        </ul>

        <div class="first-header">
         <ul>
         <li>
          <img alt="instagram-logo" src="{% static 'images/header_images/instagram-logo.png'%}" class="header-icons"/>
         </li>
    <li>
          <img alt="whatsup-logo-logo" src="{% static 'images/header_images/whatsapp.png'%}" class="header-icons"/>
         </li>
             <li>
          <img alt="telegram-logo" src="{% static 'images/header_images/telegram.png'%}" class="header-icons"/>
         </li>
         </ul>
        </div>

        </div>
    <div>
    <ul class="Menuecontainere">
        <li><p>صفحه اصلی</p></li>
        <li><p>محصولات</p></li>
        <li><p>اخبار</p></li>
        <li><p>ارتباط با ما</p></li>
        <li><p>معرفی شرکت</p></li>
   </ul>
   </div>
</body>
</html>